// font-face fonts
// see http://compass-style.org/docs/reference/compass/css3/font_face/

//@import "compass/css3/font-face"

h1
	font-family: $font-header
	font-size: 3em
	margin: 0.67em 0 2em
	line-height: 1.2em
	font-weight: 400
h2
	font-family: $font-header
	font-size: 1.75em
	font-weight: 300
	letter-spacing: 1px
	margin: 1em auto
h4
	margin: 0
	font-weight: 500
	line-height: 1.1em
	letter-spacing: 1px
p.lead
	font-size: 1.2em
	line-height: 1.6em
	font-weight: 300
	color: #6a6e73
.text
	&.center
		text-align: center
	&.right
		text-align: right
	&.left
		text-align: left